/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #111;
  color: #eee;
}

/* MENU */
nav {
  background: #1a1a1a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px #000;
}

nav h1 {
  color: #fceb00;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
}

nav a:hover {
  color: #4da3ff;
}

/* BANNER */
.banner {
  text-align: center;
  padding: 40px;
  background: #181818;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #000;
}

.banner h2 {
  color: #4da3ff;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2 {
  color: #4da3ff;
  margin-bottom: 10px;
}

.preco {
  font-size: 22px;
  font-weight: bold;
  color: #63b3ff;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  background: #222;
  color: white;
  border-radius: 6px;
  border: 1px solid #333;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

button:hover {
  background: #0056c2;
}

/* CARRINHO */
.carrinho {
  padding: 25px;
  background: #151515;
  box-shadow: 0 0 10px #000;
}

.carrinho ul {
  margin-top: 15px;
}

.carrinho li {
  background: #222;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-pagar {
  margin-top: 15px;
}

/* PAGAMENTO */
.pagamento {
  padding: 25px;
  background: #141414;
  box-shadow: 0 0 10px #000;
  margin-top: 20px;
}

.formPagamento {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  background: #222;
  border: 1px solid #333;
  color: #fff;
  border-radius: 6px;
}

/* RODAPÉ */
footer {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background: #0d0d0d;
  color: #aaa;
}
