body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: #ff6600;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header input {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.filtros {
    padding: 15px;
    background: white;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.filtros input {
    padding: 5px;
    width: 80px;
}

.filtros button {
    padding: 6px 12px;
    background: #ff6600;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filtros button:hover {
    background: #e05500;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}

.preco {
    color: #e60000;
    font-weight: bold;
    font-size: 18px;
}
